body {
    background-color: #761c19;
    /*background-color: #708EA4;*/
    /*background-color: #FFFFFF;*/
}

header{
    height: 50px;
    width: 1100px;
    margin: 30px auto 115px auto;
}

nav{
    float: right;
    font-family:'Raleway', sans-serif;
    font-weight: 800;
    font-size: 12px;
    color: #00bcd4;
    color: rgb(12,227,252);
    margin-left: 35px;
    margin-top: 12px;
}

.logo{
    height: 50px;
}

nav ul{
    float: right;
    list-style-type: none;
    padding-right: 10px;
    margin: 0;
}

nav ul li{
    display: inline-block;
    background-color: inherit;
}

nav ul li a, .gameName a{
    margin: 0px 2px;
    padding-right: 10px;
}

nav ul li a:hover{
    color: white;
}
nav ul li a:active{
    color: white;
    border-bottom: 2px solid white;
}

.sectionHead {
    background-color: #553F00;
    color: #FFC1AA;
    border: 1px solid #553F00;
    margin: 20px 0 0 0;
    font-size: 4rem;
}

.gameList {
    background-color: #29516D;
    margin: 0;
}

.gameName {
    display: inline-block;
    text-decoration: none;
}

@-webkit-keyframes wkgraphicsIn {
    from{height: 0px;}
    to{height: 700px;}
}

@keyframes graphicsIn {
    from{height: 0px;}
    to{height: 700px;}
}

iframe {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.graphicsFrame {
    display: none;
    height: 700px;
    width: 600px;
    -webkit-animation-name: wkgraphicsIn;
    -webkit-animation-duration: 2s;
    animation-name: graphicsIn;
    animation-duration: 2s;
}

#dc-iframe {
    display: none;
}
