<% include mainHeader %>

<!-- Begin Main -->
<div class="main">
    <section>
        <h1 class="bg-sec">Learning Computer Graphics</h1>
        <ul class="section-list bg-tert">
            <li id="dclink" class="gameName"><a href="/public/Graphics-I/DragonCurve">Dragon Curve</a></li>
            <li id="smlink" class="gameName"><a href="/public/Graphics-I/SierpinskiMountain">Sierpinski Mountain</a></li>
            <li id="3dmlink" class="gameName"><a href="/public/Graphics-I/3DMaze" target="_top">3d Maze</a></li>
        </ul>
        <div id="dc-iframe" class="graphicsFrame">
            <iframe id="dcframe" src="">
                Oops...Your browser does not support iframes
            </iframe>
        </div>

        <div id="sm-iframe" class="graphicsFrame">
            <iframe id="smframe" src="">
                Oops...Your browser does not support iframes
            </iframe>
        </div>
    </section>
    <section>
        <h1 class="bg-sec">Learning Web Development</h1>
        <ul class="section-list bg-tert">
            <li class="gameName"><a href="/public/CS2610/blogpost.html" target="_blank">Blog Post!</a></li>
            <li class="gameName"><a href="/game">Minesweeper</a></li>
        </ul>
    </section>
</div>
<!-- End Main -->

<% include mainFooter %>