<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Steven Simcox</title>
    <link rel="shortcut icon" href="public/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <link href="/public/css/main.css" rel="stylesheet">
    <link href="/public/css/colors.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>
<body class="bg-main col-main">
<!-- Begin Header -->
<header>
    <a href="/"><img class="logo" src="/public/images/logoDL.png" alt="e i Games logo"></a>
    <nav>
        <ul>
            <li><a href="/about">About Me</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<!-- End Header -->