html {
    font-size-adjust: 100%;
}

body {
    height: 100vh;
    background-color: red;
    background-image: linear-gradient(to bottom, white, rgba(80,80,255, 1));
}

a:link, a:visited, a:hover,  a:active  {
    color:inherit;
    background-color:transparent;
}

a.author{
    width: 100%;
    display: block;
    text-align: right;
    text-decoration:none;
}

article {
    margin: 0px auto;
    width: 50%;
    border: ridge 10px indianred;
    background-color: #00bcd4;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888888;
}

h3 {
    background-color: darkgray;
    color: #761c19;
    text-align: left;
}

.gameList {
    display: flex;
    justify-content: space-around;
}


.gameName {
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    background-color: rgba(80,255, 80, 1);
}