.main.contact{
    flex-flow: column nowrap;
}

section.contact{
    min-width: 45vw;
    width: 45vw;
    margin: 0 auto;
    flex: 1;
}

form{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

input{
    flex: 1 100%;
    outline: none;
    border: 0;
    border-bottom: .2857vh solid white;
    height: 5vh;
    background: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 18px;
    color: white;
    padding-left: 0;
}

button{
    height: 8.5714vh;
    padding: 2.8571vh 4.3945vw;
    border-radius: 4.2857vh;
    box-shadow: 0 0 4.2857vh #29516D;
    background-color: #000060;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: white;
    margin: 2px auto;
    flex: 0;
}

button:hover{
    box-shadow: 0 0 4.2857vh #062e4a;
    color: #2ce8fd;

}

.half-flex{
    flex: 0 50%;
    max-width: 45%;
}